@import "common/variables";
@import "common/svg";
@import "common/mixins";

@import "~bootstrap/scss/bootstrap";

@import "common/global";

@import "components/buttons";
@import "components/forms";
@import "components/local_tasks";
@import "components/local_actions";
@import "components/headings";
@import "components/breadcrumb";
@import "components/tables";
@import "components/dropdowns";
@import "components/vertical_tabs";
@import "components/messages";
@import "components/pager";
@import "components/dashboard";
@import "components/progression";
@import "components/calendar";
@import "components/forum";
@import "components/moxtra";
@import "components/tft";
@import "components/module_result";

@import "layouts/header";
@import "layouts/navigation";
@import "layouts/first_sidebar";
@import "layouts/main_content";
@import "layouts/footer";
@import "layouts/pages";
@import "pages/anonymous";
@import "pages/course";
@import "pages/learning_path";
@import "pages/catalogue";
@import "pages/page_user_edit";
@import "pages/private_messages";
@import "pages/activity";
@import "pages/group";
@import "pages/calendar";
@import "pages/classes";
