body.page-catalog,
body.page-catalogue {
  div#main-content {
    .views-exposed-form {
      #edit-field-learning-path-category-target-id,
      fieldset:not(#edit-sort-by--wrapper) {
        background-color: $very-light-gray;

        > legend {
          background-color: $blue;
          color: #fff;
          font-size: 20px;
          font-weight: 700;
          text-transform: uppercase;
          padding: 0.5rem 1rem;
          margin-bottom: 0;
          float: none;
          width: 100%;
        }

        > .fieldset-wrapper,
        > .form-radios {
          padding-top: 0.8rem;
          padding-bottom: 0.8rem;
          padding-right: 1.25rem;
          width: 100%;

          .form-item {
            background-color: #fff;
            position: relative;
            padding: 0;
            margin: 0;

            & + .form-item {
              margin-top: 7px;
            }

            input {
              position: absolute;
              top: 0;
              left: 0;
              width: 2px !important;
              height: 100% !important;
              bottom: 0;
              background: $blue !important;
              -webkit-appearance: none;
              z-index: 0;
              transition: width 0.2s;
              border: 0;
              background-color: transparent;
              box-shadow: none;
              opacity: 0;

              &:checked,
              &:hover {
                width: 100% !important;

                + label {
                  color: #fff;
                  background-size: 100% 100%;
                }
              }
            }

            label {
              font-weight: 400;
              position: relative;
              cursor: pointer;
              padding: 12px 10px 12px 20px;
              display: block;
              width: 100%;
              margin: 0;
              background: linear-gradient($blue, $blue) no-repeat;
              background-size: 2px 100%;
              transition: background-size 0.2s;
            }
          }
        }
      }

      &.bef-exposed-form .form--inline > .form-item,
      div#edit-field-learning-path-category-target-id {
        float: none;
        width: 100%;
      }

      fieldset#edit-sort-by--wrapper {
        margin-bottom: 1rem;
        background-color: transparent;

        div.form-radios {
          display: flex;

          .form-group {
            padding-left: 0;
            margin-right: 1rem;

            label {
              font-weight: 400;
              margin-right: 0;
            }

            input {
              background-color: #fff;
              border-color: #fff;
              margin-right: 0.5rem;
              top: 0;

              &:checked {
                background: $green;
                box-shadow: inset 0 0 0 3px $green;
                border-color: $green;
              }
            }
          }
        }

        legend {
          font-size: 1rem;
          font-style: italic;
          cursor: pointer;
          background-color: transparent;
          color: inherit;
          text-transform: none;
          font-weight: 400;
          padding: 0 0 0.5rem;

          &::after {
            content: '';
            @extend .picto-dropdown-down;
            display: inline-block;
            vertical-align: middle;
            width: 9px;
            height: 5px;
            margin-left: 0.5rem;
          }

          &.active {
            &::after {
              @extend .picto-dropdown-up;
            }

            + .fieldset-wrapper {
              display: block;
            }
          }
        }

        .fieldset-wrapper {
          background-color: $light-gray;
          padding: 35px 27px 25px;
          display: none;
          position: relative;
          margin-top: 0.5rem;
          width: 100%;

          &::before {
            content: '';
            display: block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 7px 10px 7px;
            border-color: transparent transparent $light-gray transparent;
            position: absolute;
            top: 0;
            left: 1rem;
            transform: translateY(-100%);
          }
        }
      }

      .form-inline .form-actions,
      .form-inline .form-group {
        margin-top: 0;
      }
    }

    .view {
      .view-content {
        @extend .row;

        .views-row {
          @extend .col-sm-6;
          margin-bottom: 32px;

          .fields-content {
            $paddingX: 0.5rem;
            $paddingY: 1rem;
            $borderTop: 0.5rem;
            background-color: $light-gray;
            padding: $paddingY $paddingX 0;
            height: 100%;
            display: flex;
            flex-direction: column;
            border-top: $borderTop solid $light-blue;
            position: relative;

            a {
              color: inherit;
              text-decoration: none;
              flex: 1 0 auto;
            }

            .views-field {
              background-color: #fff;
              padding: 0 $paddingX * 2;

              .field-content {
                > *:last-child {
                  margin-bottom: 0;
                }
              }
            }

            .views-field-opigno-lp-progress {
              color: #b3b3b2;
              text-align: right;
              padding-bottom: 0.5rem;

              .chart {
                width: 65px;
                height: 2px;
                background-color: #dadada;
                margin-left: auto;

                .bar {
                  height: 2px;
                  background-color: #efa693;
                }
              }
            }

            .not-take-link-wrapper {
              display: flex;
              flex-direction: column;

              .views-field-field-learning-path-media-image {
                padding: 0;
                margin-left: -$paddingX;
                margin-right: -$paddingX;
                top: -1rem;
                position: relative;

                .field-content {
                  position: relative;
                  display: block;
                  width: 100%;
                  padding: 0;
                  overflow: hidden;

                  &::before {
                    display: block;
                    content: '';
                    padding-top: 340 / 545 * 100%;
                  }

                  img {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                  }
                }
              }

              .text-wrapper {
                flex: 1 0 auto;
                background-color: #fff;

                .views-field-field-learning-path-category {
                  color: #b3b3b2;
                  padding-top: 0.5rem;
                }

                .views-field-label {
                  text-transform: uppercase;
                  font-weight: 700;
                  padding-bottom: 0.5rem;
                }

                .views-field-field-learning-path-description {
                  padding-bottom: 0.5rem;
                  flex: 1 0 auto;
                }
              }
            }

            .views-field-opigno-lp-take-link {
              margin-left: -$paddingX;
              margin-right: -$paddingX;
              padding: 0;
              position: relative;
              z-index: 1;

              a {
                text-align: center;
                padding: 12px 20px;
                height: 48px;
                display: block;
                text-decoration: none;
                text-transform: uppercase;
                background-color: #dadada;
                color: #70706f;

                +.ajax-progress {
                  display: none !important;
                }

                &:hover {
                  background-color: $green;
                  color: #fff;
                }
              }
            }

            &.is-not-member {
              .not-take-link-wrapper::after {
                content: '';
                background-color: #000;
                opacity: 0.3;
                position: absolute;
                top: -$borderTop;
                bottom: 0;
                right: 0;
                left: 0;
              }

              .views-field-opigno-lp-take-link a {
                background-color: $green;
                color: #fff;

                &:hover {
                  background-color: darken($green, 5%);
                }
              }
            }
          }
        }
      }

      &.style-line {
        $padding: 0.5rem;
        $imgWidth: 240px;
        $linkWidth: 200px;

        .views-row {
          @extend .col-md-12;

          .fields-content {
            flex-direction: row;
            padding: $padding 0 0 $padding;
            position: relative;

            .not-take-link-wrapper {
              flex-direction: row;
              flex-shrink: 1;

              .views-field-field-learning-path-media-image {
                margin-left: -$padding;
                margin-right: 0;
                top: -$padding;
                height: calc(100% + #{$padding});
                flex: 0 0 $imgWidth;
                max-width: $imgWidth;
                flex-shrink: 0;
                align-items: flex-start;
                background-color: $light-gray;
              }

              .text-wrapper {
                flex: 1 0 calc(100% - #{$imgWidth} - #{$linkWidth});
                max-width: calc(100% - #{$imgWidth} - #{$linkWidth});
                margin-bottom: $padding;
              }

              .views-field-opigno-lp-progress {
                flex: 0 0 $linkWidth;
              }
            }

            .views-field-opigno-lp-progress {
              background-color: $light-gray;
              padding: 0;
            }

            .views-field-opigno-lp-take-link {
              position: absolute;
              bottom: $padding;
              right: $padding;
              width: $linkWidth;
              z-index: 1;
            }
          }
        }
      }

      .view-footer {
        margin-top: 3rem;

        a {
          display: block;
          padding: 1rem;
          background-color: $green;
          color: #fff;
          text-align: center;
          text-decoration: none;
          text-transform: uppercase;
        }
      }
    }

    .block-local_actions_block .list-inline-item {
      display: block;
      margin-top: 3rem;

      a.button.button-action {
        display: block;
        padding: 1rem;
        background-color: $green;
        color: #fff;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
      }
    }

    .view-style {
      a {
        background-color: transparent!important;
        font-size: 0;
        width: 30px;
        height: 30px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 23px;

        &:focus {
          outline: none;
          box-shadow: none!important;
        }

        &.line {
          @extend .picto-display-line;
          background-size: 24px;

          .view.style-line & {
            @extend .picto-display-line-hover;
          }

          &:hover {
            @extend .picto-display-line-hover;
          }
        }

        &.block {
          @extend .picto-display-block-hover;

          .view.style-line & {
            @extend .picto-display-block;
          }

          &:hover {
            @extend .picto-display-block-hover;
          }
        }
      }
    }
  }
}
