table:not(.table) {
  @extend .table;
}

.table,
table {
  display: table;
  @if $table-spacing!=0 {
    width: calc(100% + #{$table-spacing});
    max-width: calc(100% + #{$table-spacing});
  }
  @if $table-spacing==0 {
    width: 100%;
    max-width: 100%;
  }
  border: 0;
  margin-bottom: 2em;
  border-collapse: separate;
  border-spacing: $table-spacing / 2;
  margin-left: -$table-spacing / 2;
  @include media-breakpoint-down(sm) {
    overflow-x: auto;
    display: block;
  }

  &.sticky-header {
    z-index: 1;
    margin-left: 0;
  }

  .dropdown-toggle {
    background-color: transparent;

    &::after {
      @include svg-picto(baseline-settings-20px);
      background-size: 20px;
      display: block;
      width: 1rem;
      height: 1rem;
    }
  }

  tbody tr:hover {
    input[type=checkbox],
    input[type=radio] {
      background-color: #fff;
      border-color: #fff;

      &:checked,
      &:disabled:checked {
        background: $green;
        border-color: $green;
      }
    }
  }

  th {
    // background: $light-blue;
    // color: #fff;

    a {
      // color: #fff;
    }
  }

  td,
  th {
    // padding: 0.25em 20px;
    vertical-align: middle;

    .form-element-wrapper {
      font-size: 0;
    }

    ul {
      margin: 0;
      padding-left: 1.25rem;
    }

    select {
      margin-bottom: -1rem;
    }

    &.checkbox {
      text-align: center;

      input {
        margin-top: 0;
      }
    }

    label {
      margin-bottom: 0;
    }

    .system-modules & {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      vertical-align: middle;
    }
  }

  th {
    font-weight: 600;
    text-transform: uppercase;
  }

  tbody {
    tr:nth-child(odd) td:not([class*="ui-datepicker"]) {
      // background-color: #fff;
    }

    tr:nth-child(even) td:not([class*="ui-datepicker"]) {
      // background-color: $medium-gray;
    }
  }

  thead {
    + tbody tr:nth-child(even) td:not([class*="ui-datepicker"]) {
      // background-color: #fff;
    }

    + tbody tr:nth-child(odd) td:not([class*="ui-datepicker"]) {
      // background-color: $medium-gray;
    }
  }
}

a.tabledrag-handle .handle {
  margin: -0.2em 0 0;
  padding: 1em;
}

table.views-listing-table {
  h3 {
    font-size: 1rem;
  }
}
