body[class*="page-group-"][class*="-tft"] {
  #folder-menu-container {
    margin-bottom: 1rem;

    .folder-wrapper {
      background: transparent;
      padding: 0;

      h4 {
        display: none;
      }

      div#tabs {
        ul {
          li {
            margin-left: 0.5em;

            a {
              background-color: $medium-gray !important;
              color: $dark-gray !important;
              text-align: center;
              padding: 0.5em 2em !important;
              text-decoration: none;

              &:hover {
                background-color: darken($medium-gray, 5%) !important;
              }
            }
          }
        }
      }
    }
  }

  ul#folder-add-content-links {
    margin-top: 0;
    background-color: transparent;

    li {
      margin-left: 0.5em;

      a {
        text-align: center;
        padding: 0.5em 2em !important;
        text-decoration: none;
        font-size: 1rem;
        border: 1px solid $green !important;

        &::before {
          content: '';
          display: inline-block;
          width: 1.25rem;
          height: 1.25rem;
          vertical-align: middle;
          margin-left: -.5rem;
          margin-right: 0.5rem;
          background-size: contain;
        }

        &#add-child-folder {
          background-color: transparent !important;
          color: $green !important;

          &::before {
            @include svg-picto('baseline-folder-open-24px-green');
          }

          &:hover {
            background-color: $green !important;
            color: #fff !important;

            &::before {
              @include svg-picto('baseline-folder-open-24px-white');
            }
          }
        }

        &#add-child-file {
          background-color: $green !important;
          color: #fff !important;

          &::before {
            @include svg-picto('baseline-add-circle-24px');
          }

          &:hover {
            background-color: darken($green, 5%) !important;
          }
        }
      }
    }
  }
}
